<div class="container">
	<div class="modal-custom" *ngIf="showModal">
	<div class="modal-container">
		<div class="modal-custom-header">
			<h3 class="title">
				<span>Confirmation de l'achat </span>
				<button mat-icon-button color="primary"  (click)="showModal = false">
					<mat-icon>close</mat-icon>
				</button>
				<!-- <a class="btn" (click)="showModal = false"><i class="fa-regular fa-rectangle-xmark"></i></a>
			 -->
			</h3>
		</div>
		<form action="" [formGroup]="addCmdForm" (submit)="onSubmitAddCmd()">
		<div class="body">
			<div class="editable">
				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Nom</label>
					<input formControlName="nom" value="{{user.nomComplet}}" type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
				  </div>
				  <div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Contact</label>
					<input formControlName="contact" type="text" class="form-control" id="exampleFormControlInput1" placeholder="+223 82 82 82 82">
				  </div>
				  <div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Lieu de la livraison</label>
					<input formControlName="localisation" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Hamdallaye ACI">
				  </div>
				  <div class="checkbox-container">
					<input type="checkbox" id="p1"><label for="p1">Payement à la livraison</label>
					<input type="checkbox" id="p2"><label for="p2">Orange Money</label>
				  </div>
				  <div class="">
					<button type="submit" class="btn btn-default">Envoyer</button>
				  </div>
			</div>
			<div class="illustration-container">
					<img src="../../assets/img/illustrations/shop.jpg" alt="">
			</div>
		</div>
			
	</form>
		</div>
	</div>
</div>
<div class="container">
    <h4 class="title">
		<span>Panier &nbsp;<i class="fa-solid fa-cart-plus"></i></span>
		<button type="button" class="btn btn-outline-primary"  (click)="showModal = true">
			Achater panier
			<i class="fa-solid fa-cart-plus"></i>
		</button>
	</h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">No</th>
			<th scope="col">Désignation</th>
			<th scope="col">Catégories</th>
			<th scope="col">Prix</th>
            <th scope="col">Quantité</th>
            <th scope="col">Annuler</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let produit of panierList; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td>
				<img
					src="../assets/img/produits/{{produit.imgName}}"
					class="me-2"
					style="height: 20px"
				/>
				{{ produit.nom }}
			</td>
			<td>{{ produit.categorie }}</td>
            <td>{{ produit.prix | number }}</td>
            <td class="qty">
				<i (click)="decreQtyByIndex(i)" class="fa-solid fa-minus">-</i><input type="number" value="{{getQuantity(i)}}">
                            <i (click)="increQtyByIndex(i)" class="fa-solid fa-plus">+</i></td>
			<td>
				<button type="button" (click)="removeOnPanier($event,i)" class="btn btn-outline-danger">
					<i class="bi bi-trash3"></i>
				</button>
			</td>
		</tr>
	</tbody>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
