
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src= "../assets/img/2.jpeg" class="img">
        </div>
        <div class="col-md-6">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Assumenda autem quaerat accusamus, dicta saepe aspernatur quo. 
                Maiores adipisci expedita, accusantium, voluptatum dolore 
                esse molestias vel possimus beatae, repellendus consectetur facere?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Assumenda autem quaerat accusamus, dicta saepe aspernatur quo. 
                Maiores adipisci expedita, accusantium, voluptatum dolore 
                esse molestias vel possimus beatae, repellendus consectetur facere?
            </p>
        </div>
    </div>
</div>