<div class="container m-t vh-100">
     <h3 class="title"><span>Gestion des commandes<i class="fa-solid fa-cart-plus"></i></span></h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
            <th scope="col">Clients</th>
			<th scope="col">Désignation</th>
			<th scope="col">Catégories</th>            
			<th scope="col">Prix</th>
            <th scope="col">Quantité</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<ng-container *ngFor="let cmd of commandesList; index as c">
		<tr  *ngFor="let command of cmd.panier.produits; index as i">
			<th scope="row">{{ i + 1 }}</th>
            <th>{{cmd.client.nomComplet}}</th>
			<td>
				<img
					src="../assets/img/produits/{{command.imgName}}"
					class="me-2"
					style="height: 20px"
				/>
				{{ command.nom}}
			</td>
			<td>{{command.categorie}}</td>
            <td>{{command.prix}}</td>
            <td class="qty">{{cmd.panier.quantites[c]}}</td>
            <td>{{cmd.etat ? "livré" : "En attente"}}</td>
            <td>{{cmd.dateCommande}}</td>
			<td style="text-align: right;">
				<button mat-icon-button color="primary" (click)="removeOnCommands($event,c)">
					<mat-icon>delete</mat-icon>
				</button>
               <!-- <a (click)="removeOnCommands($event,c)" class="text-danger">
					<i class="fa-solid fa-trash-can"></i>
				</a>
                 <a (click)="removeOnCommands($event,i)" class="text-danger"><i class="fa-solid fa-trash-can"></i></a>
                <a (click)="removeOnCommands($event,i)" class="text-danger"><i class="fa-solid fa-trash-can"></i></a> -->
            </td>
		</tr>
	</ng-container>
	</tbody>
</table>
</div>