<header>
  <mat-toolbar color="primary" class="navbar">
    <a class="navbar-brand" href="#" routerLink="/accueil">
      <span class="logo-s">S</span>
      <mat-icon class="navbar-icon">shopping_basket</mat-icon>
      <span class="logo-h">h</span>
      <span class="logo-pping">pping</span>
    </a>
    <span class="space"></span>
    <button class="nav-icon" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with share icon">
      <mat-icon>person_add</mat-icon>
    </button>
    <button mat-raised-button routerLink="/produit" class="menu-btn">
      <span> Commande</span>
    </button>
  </mat-toolbar>
</header>
<!-- <img ng-src="~/img/logo.svg" style="height:130px ; width:180px" class="md-card-image" alt="~/Frontend/images/question-circular-button.svg"> -->
<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6" id="largeur">
        <h4>Contactez nous</h4>
        <span class="numero">
          <a href="#"><i id="contact-icon" class="bi bi-telephone-fill"></i></a>
          <span class="text">+223 83 52 28 56</span>
        </span>
        <span class="email">
          <a href="#"><i id="contact-icon" class="bi bi-envelope-fill"></i></a>
          <span class="text">sogore@gmail.com</span>
        </span>
        <span class="social-icon">
          <a href="#"><i id="footer-icon" class="bi bi-facebook"></i></a>
          <a href="#"><i id="footer-icon" class="bi bi-instagram"></i></a>
          <a href="#"><i id="footer-icon" class="bi bi-twitter"></i></a>
          <a href="#"><i id="footer-icon" class="bi bi-tiktok"></i></a>
        </span>
      </div>
    
      <div class="col-md-6">
        <div class="message">
          <h4>Ecrivez nous</h4>
          <span class="text">Pseudo</span>
          <input class="form-control " id="input" type="text" placeholder="Ibrahim">
          <span class="text">Email</span>
          <input class="form-control " id="input" type="text" placeholder="sogore@gmail.com">
          <button type="button" class="btn btn-outline-primary">Envoyer</button>
        </div> 
      </div>
    </div>
  </div>
</footer>


