.top{
    padding-top: 900px;
    /* background: red; */
}

.main-body{
    max-width: 1248px;
    margin: 0 auto;
}

.titreProduit{
    
}
.titreProduit h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* font-size: 15%; */
}

.titreProduit h3 span{
    color: #FD384F;
    margin-right: 0.5%;
}

.titreProduit button{
    margin-left: 10%;
    
}
td img{
    height: 30px;
}