<div class="accueil">
    <div class="carousel-container">
        <igx-carousel #carousel [interval]="5000" [loop]="true" >
            <igx-slide *ngFor="let slide of slides;">
                <div class="image-container">
                    <img [src]="slide.src">
                </div>
            </igx-slide>
        </igx-carousel>
    </div>

     <div class="container">
        <div class="row">
           <div class="col-md-6">
            <span class="titre"> Nos articles </span>
           </div>
            <div class="col-md-6" id="input">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Rechercher par categorie" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button type="button" class="btn" id="btn-color"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
     </div>
     
    <div class="conainer">
        <div class="row">
            <div class="col-md-2" id="largeur" *ngFor="let produit of produits">
                <igx-card class="card">
                    <igx-card-media height="100%"> 
                        <img src= "../../assets/img/produits/{{produit.imgName}}" (click)="ouvrirDetail(produit)">
                    </igx-card-media>
                    <igx-card-header class="card-header">
                        <h3 igxCardHeaderTitle>{{produit.nom}}</h3>
                        <h2 igxCardHeaderSubtitle>{{produit.prix}} f</h2>
                    </igx-card-header>
                    <igx-card-content class="card-content">
                        <p>{{produit.categorie}}
                        </p>
                    </igx-card-content>
                    <igx-card-actions>
                        <button (click)="addToCart(produit)" mat-icon-button class="card-icon" aria-label="Example icon-button with share icon">
                            <mat-icon>shopping_cart</mat-icon>
                        </button>
                    <ng-container *ngIf="false">                      
                        <button mat-icon-button class="card-icon" aria-label="Example icon-button with share icon" igxEnd>
                            <mat-icon>favorite</mat-icon>
                        </button>
                        <button mat-icon-button class="card-icon" aria-label="Example icon-button with share icon">
                            <mat-icon>shopping_basket</mat-icon>
                        </button> 
                    </ng-container> 
                    </igx-card-actions>
                </igx-card>
            </div>
            <div class="col-md-12" id="pagination">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Precedent</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Suivant</a></li>
                  </ul>
            </div>   
        </div>
    </div>

  

</div>


      

